
@{
    ViewData["Title"] = "PurchaseHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<PurchaseDetails> history = (List<PurchaseDetails>)ViewData["purchase history"];
}

<h1>PurchaseHistory</h1>

<hi> 
    
    @{
    foreach (PurchaseDetails x in history)
    {
        @:You got @x.Product.Name <br/>

    }

}




    </hi>