
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="table-responsive text-nowrap">
    <table class="table">
        <thead><tr><td><h2>Cart</h2></td></tr></thead>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Genere</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>
                    <button id="minus" class="btn btn-primary btn-sm">-</button>
                    <span id="number" style="padding:6px">0</span>
                    <button id="plus" class="btn btn-primary btn-sm">+</button>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>
                    <button id="minus" class="btn btn-primary btn-sm">-</button>
                    <span id="number" style="padding:6px">0</span>
                    <button id="plus" class="btn btn-primary btn-sm">+</button>
                </td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>
                    <button id="minus" class="btn btn-primary btn-sm">-</button>
                    <span id="number" style="padding:6px">0</span>
                    <button id="plus" class="btn btn-primary btn-sm">+</button>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td scope="col" colspan="5">
                    <u><a href="/Home/Gallery">Continue Shopping</a></u>
                </td>
                <td scope="col">Total</td>
                <td scope="col">111111</td>
            </tr>
            <tr>
                <td colspan="6"></td>
                <td scope="col">
                    <button type="button" class="btn btn-primary">Procced to check out</button>
                </td>
            </tr>
        </tbody>
       
    </table>

</div>


