p_Head{	
color:black;		
font-size:20;		
width:300px;
text-align:left;
}


.ProductGenre {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
word-break: break-word;
}

.ProductName {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
}

.ProductDesc {
    font-size: 12px;
    line-height: 1;
}
p{margin:0 auto} 	